<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets admin/imgs/theme/favicon.svg" />
        <!-- Template CSS -->
        <link href="/assets admin/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    </head>

    <body>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="index.html" class="brand-wrap">
                    <img src="assets admin/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item active">
                        <a class="menu-link" href="home">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="users_list">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Users</span>
                        </a>
                        
                    </li>
                  
                    <li class="menu-item">
                        <a class="menu-link" href="categories">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text" >Categories</span>
                        </a>
                    </li>
                   
                    <li class="menu-item">
                        <a class="menu-link" href="products">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text" >Products</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/logout">
                            <i class="icon material-icons md-exit_to_app"></i>
                            <span class="text" >Logout</span>
                        </a>
                    </li>
                </ul>
               
                <br />
                <br />
            </nav>
        </aside>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                            <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Categories"></option>
                            <option value="New orders"></option>
                            <option value="Apple iphone"></option>
                            <option value="Ahmed Hassan"></option>
                        </datalist>
                    </form>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="assets admin/imgs/theme/flag-us.png" alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="assets admin/imgs/theme/flag-fr.png" alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="assets admin/imgs/theme/flag-jp.png" alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="assets admin/imgs/theme/flag-cn.png" alt="Français" />中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets admin/imgs/people/avatar-2.png" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <section class="content-main">
                <div class="content-header">
                    <h2 class="content-title">Edit Coupon </h2>
                   
                </div>
                <% if(typeof message !== 'undefined'){%>
                   
                    <h4 class="text-danger"><%= message%></h4>
                     <%}%>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <form action="/admin/submitCoupon" method="post" id="couponForm">
                                <!-- Coupon Name Field -->
                                <div class="row">
                                    <div class="col">
                                        <label for="couponName" class="text">Coupon Name</label>
                                        <input class="form-control" type="text" value="<%=coupon.name%>" name="name" id="coupName" placeholder="Enter the Coupon Name" required>
                                        <div id="nameError" class="text-danger"></div> <!-- Error Message -->
                                    </div>
                                    <div class="col">
                                        <label for="couponCode" class="text">Coupon Code</label>
                                        <input class="form-control" type="text" value="<%=coupon.couponCode%>" name="code" id="coupCode" placeholder="Enter the Coupon Code" required>
                                        <div id="codeError" class="text-danger"></div> <!-- Error Message -->
                                    </div>
                                </div>
                                <br>
                                <!-- Discount and Criteria Fields -->
                                <div class="row">
                                    <div class="col">
                                        <label for="discountAmount" class="text">Discount Percentage</label>
                                        <input class="form-control" type="number" value="<%=coupon.discountAmount%>" name="discount" id="discAmount" placeholder="Enter the Discount Amount" required>
                                        <div id="discountError" class="text-danger"></div> <!-- Error Message -->
                                    </div>
                                    <div class="col">
                                        <label for="criteriaAmount" class="text">Criteria Amount</label>
                                        <input class="form-control" type="number" value="<%=coupon.criteriaAmount%>" name="criteria" id="criteria" placeholder="Enter the Criteria Amount" required>
                                        <div id="criteriaError" class="text-danger"></div> <!-- Error Message -->
                                    </div>
                                </div>
                                <br>
                                <!-- Starting and Expiry Date Fields -->
                                <div class="row">
                                    <div class="col">
                                        <label for="startingDate" class="text">Starting Date</label>
                                        <input class="form-control" type="date" value="<%= coupon.activationDate ? new Date(coupon.activationDate).toISOString().split('T')[0] : '' %>" name="start" id="startDate" required>
                                        <div id="startDateError" class="text-danger"></div> <!-- Error Message -->
                                    </div>
                                    <div class="col">
                                        <label for="expiryDate" class="text">Expiry Date</label>
                                        <input class="form-control" type="date" value="<%= coupon.expiryDate ? new Date(coupon.expiryDate).toISOString().split('T')[0] : '' %>" name="expiry" id="expiryDate" required>
                                        <div id="expiryDateError" class="text-danger"></div> <!-- Error Message -->
                                        <input type="hidden" name="id" value="<%=coupon._id%>" id="couponId">
                                    </div>
                                </div>
                                
                                <br>
                                <button type="button" onclick="validateForm()" class="border-1" style="background-color: rgb(134, 134, 234); color: white;">Submit</button>
                            </form>
                        </div>
                        
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
               
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="assets admin/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets admin/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets admin/js/vendors/select2.min.js"></script>
        <script src="assets admin/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets admin/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets admin/js/main.js?v=1.1" type="text/javascript"></script>
        <script>
            const today = new Date();
            
            const adjustedDate = new Date(today);
            adjustedDate.setDate(today.getDate() + 1);
            
            const formattedAdjustedDate = adjustedDate.toISOString().split('T')[0];
            
            document.getElementById('startDate').setAttribute('min', formattedAdjustedDate);
        </script>



<script>
    function validateForm() {
        const nameInput = document.getElementById('coupName');
        const codeInput = document.getElementById('coupCode');
        const discountInput = document.getElementById('discAmount');
        const criteriaInput = document.getElementById('criteria');
        const startDateInput = document.getElementById('startDate');
        const expiryDateInput = document.getElementById('expiryDate');
        const couponId = document.getElementById('couponId').value;


        // Reset previous error messages
        document.getElementById('nameError').textContent = '';
        document.getElementById('codeError').textContent = '';
        document.getElementById('discountError').textContent = '';
        document.getElementById('criteriaError').textContent = '';
        document.getElementById('startDateError').textContent = '';
        document.getElementById('expiryDateError').textContent = '';

        let isValid = true;

        if (!nameInput.value ||(nameInput.value).trim() ==="" ) {
            document.getElementById('nameError').textContent = 'Coupon Name is required';
            isValid = false;
        }

        if (!codeInput.value  || (codeInput.value).trim() ==="") {
            document.getElementById('codeError').textContent = 'Coupon Code is required';
            isValid = false;
        }

        if (!discountInput.value) {
            document.getElementById('discountError').textContent = 'Discount Percentage is required';
            isValid = false;
        }

        if (!criteriaInput.value) {
            document.getElementById('criteriaError').textContent = 'Criteria Amount is required';
            isValid = false;
        }

        if (!startDateInput.value) {
            document.getElementById('startDateError').textContent = 'Starting Date is required';
            isValid = false;
        }

        if (!expiryDateInput.value) {
            document.getElementById('expiryDateError').textContent = 'Expiry Date is required';
            isValid = false;
        }
        if (discountInput.value <= 0 ||discountInput.value >99) {
            document.getElementById('discountError').textContent = 'Give Discount amount between 1 to 99';
            isValid = false;
        }
        if (criteriaInput.value < 1000) {
            document.getElementById('criteriaError').textContent = 'Criteria Amount must be above 1000';
            isValid = false;
        }
        if (expiryDateInput.value <= startDateInput.value ) {
            document.getElementById('expiryDateError').textContent = 'Expiry Date must be above start Date';
            isValid = false;
        }

        if (!isValid) {
            return; // Exit function if validation fails
        }
       const name=nameInput.value
       const code=codeInput.value
       const discount =discountInput.value
       const criteria=criteriaInput.value
       const start =startDateInput.value
       const expiry=expiryDateInput.value

        console.log("kkkkoi",nameInput)
        fetch('/admin/submitCouponEdit',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({couponId,name,code,discount,criteria,start,expiry})
        }).then(response=>response.json())
        .then(data=>{
            if(data.success ==true){
                window.location.href='/admin/coupons'
            }else if(data.success === false){
                console.log("kjfhakv")
                document.getElementById('codeError').textContent = 'Coupon Code already Exist   ';
            }
        })

        // Your existing validation and form submission logic here
    }
</script>



       
    </body>
</html>
       