<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets admin/imgs/theme/favicon.svg" />
        <!-- Template CSS -->
        <link href="/assets admin/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    </head>

    <body>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="index.html" class="brand-wrap">
                    <img src="assets admin/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item active">
                        <a class="menu-link" href="home">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="users_list">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Users</span>
                        </a>
                        
                    </li>
                  
                    <li class="menu-item">
                        <a class="menu-link" href="categories">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text" >Categories</span>
                        </a>
                    </li>
                   
                    <li class="menu-item">
                        <a class="menu-link" href="products">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text" >Products</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/logout">
                            <i class="icon material-icons md-exit_to_app"></i>
                            <span class="text" >Logout</span>
                        </a>
                    </li>
                </ul>
               
                <br />
                <br />
            </nav>
        </aside>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                            <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Categories"></option>
                            <option value="New orders"></option>
                            <option value="Apple iphone"></option>
                            <option value="Ahmed Hassan"></option>
                        </datalist>
                    </form>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="assets admin/imgs/theme/flag-us.png" alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="assets admin/imgs/theme/flag-fr.png" alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="assets admin/imgs/theme/flag-jp.png" alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="assets admin/imgs/theme/flag-cn.png" alt="Français" />中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets admin/imgs/people/avatar-2.png" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <section class="content-main py-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-9">
                            <div class="content-header">
                                <h2 class="content-title">Edit Product</h2>
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <form id="addForm" action="/admin/submiteditproduct" method="post" >
                                        <div class="form-group">
                                            <label for="product_title">Product Name</label>
                                            <input type="text" class="form-control" id="product_title" name="name" value="<%=product.name%>">
                                            <span class="text-danger" id="pnameError"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="quantity">Quantity</label>
                                            <input type="hidden" value="<%= product.id%>" name="id">
                                            <input type="number" class="form-control" id="quantity" name="quantity" value="<%=product.quantity%>">
                                            <span class="text-danger" id="quantityError"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Category</label>
                                            <select class="form-control" name="category">
                                                <% for (let i = 0; i < category.length; i++) { %>
                                                    <option value="<%= category[i]._id %>" 
                                                        <% if ( category[i]._id.toString() === product.categoryId._id.toString() ) { %> 
                                                            selected 
                                                        <% } %> 
                                                    >
                                                        <%= category[i].name %>
                                                    </option>
                                                <% } %>
                                            </select>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Price</label>
                                            <input type="number" id="price" class="form-control" name="price" value="<%=product.price%>">
                                            <span class="text-danger" id="priceError"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Description</label>
                                            <input type="text" id="description" class="form-control" name="description" value="<%=product.description%>">
                                            <span class="text-danger" id="descriptionError"></span>
                                        </div>
                                        <br>
                                        <div class="col-lg-2 col-md-6 rounded-image-preview">
                                            <div style="display: flex; flex-wrap: nowrap;">
                                                <% for(let i = 0; i < product.images.length; i++) { %>
                                                    <div style="margin-right: 5px;">
                                                        <input name="image1" type="file" accept="image/*" id="imageInput<%= i + 1 %>" class="imageInput" onchange="previewImage(event,'<%= i + 1 %>')">
                                                        <label for="imageInput<%= i + 1 %>" class="image-label">
                                                            <img 
                                                                id="imagePreview<%= i + 1 %>" 
                                                                src="/multerImage/sharp/<%= product.images[i] %>" 
                                                                data-original-src="/multerImage/sharp/<%= product.images[i] %>"
                                                                style="width: 76px;" 
                                                                alt=""
                                                            >
                                                        </label>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group mt-3">
                                            <button type="button" class="btn btn-primary" onclick="validateForm()">Submit</button>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                       <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="assets admin/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets admin/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets admin/js/vendors/select2.min.js"></script>
        <script src="assets admin/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets admin/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets admin/js/main.js?v=1.1" type="text/javascript"></script>
     <script>    
        let filesValid;
       let cropedImages = [];
       
       document.querySelector('#choosen-file').addEventListener("change", handleFileChange);
       
       async function handleFileChange(e) {
           if (supportsFileAPI()) {
               cropedImages = [];
               const files = e.target.files;
               const output = document.querySelector('#result');
       
               if (files.length !== 4) {
                   displayErrorMessage('Please select 4 images.');
                   return;
               } else {
                   hideErrorMessage();
               }
       
               for (let i = 0; i < files.length; i++) {
                   if (!files[i].type.match('image')) continue;
                   
                   const picReader = new FileReader();
                   picReader.addEventListener('load', function (event) {
                       const picFile = event.target;
                       const div = createImageContainer(picFile.result);
                       output.appendChild(div);
                       const cropper = createImageCropper(div.querySelector('img'));
                       cropedImages.push(cropper);
                   });
                   picReader.readAsDataURL(files[i]);
               }
           } else {
               alert('Your browser does not support the File API');
           }
       }
       
       function supportsFileAPI() {
           return window.File && window.FileReader && window.FileList && window.Blob;
       }
       
       function displayErrorMessage(message) {
           const fourimage = $('#fourimage');
           fourimage.text(message);
       }
       
       function hideErrorMessage() {
           $('#fourimage').css('display', 'none');
       }
       
       function createImageContainer(imageSrc) {
           const div = document.createElement("div");
           const img = document.createElement('img');
           img.src = imageSrc;
           div.appendChild(img);
           return div;
       }
       
       function createImageCropper(image) {
           return new Cropper(image, {
               veiwMode: 1,
               guides: true,
               autoCropArea: 1
           });
       }
       
       async function addFormSubmit(event) {
        console.log("1");
           event.preventDefault();
           console.log("2");
       
           const addForm = document.getElementById('addForm');
           const producterror = $("#pnameError");
           const descriptionerror = $("#descriptionError");
           const priceerror = $('#priceError');
           const quantityerror = $('#quantityError');
       
           const name = $('#product_title').val();
           const description = $('#description').val();
           const price = Number($('#price').val());
           const quantity = Number($('#quantity').val());
       
           producterror.text('');
           descriptionerror.text('');
           priceerror.text('');
           quantityerror.text('');
       
           if (name.trim() === '' || /\d/.test(name)) {
               producterror.text("Enter a valid name");
           } else if (description.trim() === '') {
               descriptionerror.text("Enter a valid description");
           } else if (price < 0 || isNaN(price) || price === '') {
               priceerror.text("Enter a valid price");
           } else if (quantity < 0 || isNaN(quantity) || quantity === '') {
               quantityerror.text("Enter a valid quantity");
           } else {
               const formData = new FormData(addForm);
       
               console.log(formData,"1")
               cropedImages.forEach((cropper, index) => {
                   const croppedDataUrl = cropper.getCroppedCanvas().toDataURL('image/png');
                   const blob = dataURItoBlob(croppedDataUrl);
       
                   formData.append('cropedImages', blob, `cropped_image_${index}${Math.random()}.png`);
               });
               console.log(formData,"2")
       
       
               try {
                   const response = await $.ajax({
                       url: '/admin/addproduct',
                       type: 'POST',
                       data: formData,
                       processData: false,
                       contentType: false,
                       success: function (response) {
                           window.location.href = "/admin/product";
                       },
                       error: function (error) {
                           console.log("error", error);
                       }
                   });
               } catch (error) {
                   console.error("An error occurred during form submission:", error);
               }
           }
       }
       
       function dataURItoBlob(dataURI) {
           const byteString = atob(dataURI.split(',')[1]);
           const mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
           const ab = new ArrayBuffer(byteString.length);
           const ia = new Uint8Array(ab);
           for (let i = 0; i < byteString.length; i++) {
               ia[i] = byteString.charCodeAt(i);
           }
           return new Blob([ab], { type: mimeString });
       }
       </script>
   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
   <script>
       function validateForm() {
           var name = $("#product_title").val();
           var quantity = $("#quantity").val();
           var price = $("#price").val();
           var description = $("#description").val();
   
           $(".text-danger").text("");
   
           if (name.trim() === "") {
               $("#pnameError").text("Product Name is required");
           }else if (quantity.trim() === "") {
               $("#quantityError").text("Quantity is required");
           }else if (price.trim() === "") {
               $("#priceError").text("Price is required");
           }else if (description.trim() === "") {
               $("#descriptionError").text("Description is required");
           }
           if (/^\s/.test(name)) {
            $("#pnameError").text("Leading spaces are not allowed");
        } else if (/^\s/.test(quantity)) {
            $("#quantityError").text("Leading spaces are not allowed");
        } else if (/^\s/.test(price)) {
            $("#priceError").text("Leading spaces are not allowed");
        } else if (/^\s/.test(description)) {
            $("#descriptionError").text("Leading spaces are not allowed");
        }
   
           $("#addForm").submit();
       }
   </script>

<script>
    function previewImage(event, imageIndex) {
        const input = event.target;
        
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            
            reader.onload = function (e) {
                const imagePreview = document.getElementById('imagePreview' + imageIndex);
                
                // Store the uploaded image in a data attribute
                imagePreview.setAttribute('data-uploaded-src', e.target.result);
                
                // Update the image source to the uploaded image
                imagePreview.src = e.target.result;
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

   
    </body>
</html>
       