<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/assets admin/imgs/theme/favicon.svg" />
        <!-- Template CSS -->
        <link href="/assets admin/css/main.css" rel="stylesheet" type="text/css" />
    </head>
  

    <body>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="index.html" class="brand-wrap">
                    <img src="/assets admin/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item active">
                        <a class="menu-link" href="home">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item active">
                        <a class="menu-link" href="sales">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Sales</span>
                        </a>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="users_list">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Users</span>
                        </a>
                        
                    </li>
                  
                    <li class="menu-item">
                        <a class="menu-link" href="categories">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text" >Categories</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="orders">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text" >Orders</span>
                        </a>
                    </li>
                   
                    <li class="menu-item">
                        <a class="menu-link" href="products">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text" >Products</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="coupons">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text" >Coupons</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="offer">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text" >Offer</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/logout">
                            <i class="icon material-icons md-exit_to_app"></i>
                            <span class="text" >Logout</span>
                        </a>
                    </li>
                </ul>
               
                <br />
                <br />
            </nav>
        </aside>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                            <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Products"></option>
                            <option value="New orders"></option>
                            <option value="Apple iphone"></option>
                            <option value="Ahmed Hassan"></option>
                        </datalist>
                    </form>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    
                </div>
            </header>
           
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Dashboard</h2>
                        <p>Whole data about your business here</p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Revenue</h6>
                                    <span>₹<%=revenue[0].revenue%></span>
                                    <span class="text-sm"> Shipping fees are not included </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Orders</h6>
                                    <span><%= orders.length%></span>
                                    <span class="text-sm"> Excluding orders in transit </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Products</h6>
                                    <span><%=products.length%></span>
                                    <span class="text-sm"> In <%= categoreis.length%> Categories </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Monthly Earning</h6>
                                    <span>₹<%=monthlyIncome%></span>
                                    <span class="text-sm"> Based in your local time. </span>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="card mb-4">
                            <article class="card-body">
                                <h5 class="card-title">Sale statistics</h5>
                                <select onchange="filterChart(value)" class="form-select" style="width: 100px;">
                                    <option selected>Filter by</option>
                                    <option value="monthly">Monthly</option>
                                    <option value="yearly">Yearly</option>
                                  </select>
                                <canvas id="myChart" height="120px"></canvas>
                            </article>
                        </div>
                        <div class="row" style="display: flex; flex-wrap: wrap; float: left;">
                        <div style="height: 200px; width: auto; float: right; ">
                        <div class="card mb-4" style="height: 350px; width: 108%; display: flex; flex-wrap: wrap; ">
                            <article class="card-body" style="width: 300px;">
                                <h5 class="card-title">Most selling 3 Products</h5>
                                <canvas id="myChart3"></canvas> <!-- Removed height and width attributes -->
                            </article>
                            <article class="card-body" style="width: 300px;">
                                <h5 class="card-title">Most selling 3 Category</h5>
                                <canvas id="myChart4"></canvas> <!-- Removed height and width attributes -->
                            </article>
                        </div>
                        </div>
                        </div>
                        
                       
                    </div>
                    <div class="col-xl-4 col-lg-12">
                        <div class="card mb-4">
                            <article class="card-body">
                                <h5 class="card-title">Revenue Base on Area</h5>
                                <canvas id="myChart2" height="217"></canvas>
                            </article>
                        </div>
                        
                       
                    </div>
                </div>
              
              
            </section>
            <!-- content-main end// -->
           
            </main>
            <script src="/assets admin/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/assets admin/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/assets admin/js/vendors/select2.min.js"></script>
        <script src="/assets admin/js/vendors/perfect-scrollbar.js"></script>
        <script src="/assets admin/js/vendors/jquery.fullscreen.min.js"></script>
        <script src="/assets admin/js/vendors/chart.js"></script>
        <!-- Main Script -->
        <script src="/assets admin/js/main.js?v=1.1" type="text/javascript"></script>
        <script>
            console.log("chart reached")
            function filterChart(val){
                var newUrl = `/admin/home?filter=${val}`;
                window.location.href = newUrl
            }
        </script>
            <script>
             (function ($) {
    "use strict";

    /*Sale statistics Chart*/
    if ($('#myChart').length) {
        console.log(<%=labels%>,"bvfnvojsgk")
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',
            
            // The data for our dataset
            data: {
                labels:[<%=labels.toString()%>],
                datasets: [{
                        label: 'Sales',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(44, 120, 220, 0.2)',
                        borderColor: 'rgba(44, 120, 220)',
                        data: <%= JSON.stringify(graphData) %>
                    }
                   

                ]
            },
            options: {
                plugins: {
                legend: {
                    labels: {
                    usePointStyle: true,
                    },
                }
                }
            }
        });
    } //End if

    /*Sale statistics Chart*/
    if ($('#myChart2').length) {
        var ctx = document.getElementById("myChart2");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
            labels: ["Wallet","COD","Razor Pay"],
            datasets: [
                {
                    label: "payments",
                    backgroundColor: "#5897fb",
                    barThickness:20,
                    data: ["<%=walletCount%>",'<%=codCount%>','<%=razporPayCount%>']
                }
            ]
            },
            options: {
                plugins: {
                    legend: {
                        labels: {
                        usePointStyle: true,
                        },
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    } //end if 

   

    if($('#myChart3').length) {
    var ctx3 = document.getElementById("myChart3");
    var myChart3 = new Chart(ctx3, {
        type: 'pie',
        data: {
            labels: ["<%=topProductLabel[0]%>","<%=topProductLabel[1]%>","<%=topProductLabel[2]%> Pay","others"],
            datasets: [
                {
                    label: "payments",
                    backgroundColor:['#A5E69E', '#a87bc7', '#64b7f6','#6666'],
                    barThickness:20,
                    data: ["<%=topProductCount[0]%>",'<%=topProductCount[1]%>','<%=topProductCount[2]%>']
                }
            ]
        },
        options: {
            plugins: {
                legend: {
                    labels: {
                        usePointStyle: true,
                    },
                }
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}
if ($('#myChart4').length) {
    var ctx4 = document.getElementById("myChart4");
    var myChart4 = new Chart(ctx4, {
        type: 'pie',
        data: {
            labels: ["<%=topCategoryLabel[0]%>","<%=topCategoryLabel[1]%>","<%=topCategoryLabel[2]%>",'Others'],
            datasets: [
                {
                    label: "payments",
                    backgroundColor:['#A5E69E', '#a87bc7', '#64b7f6','#6666'],
                    barThickness:20,
                    data: ["<%=topCategoryCount[0]%>",'<%=topCategoryCount[1]%>','<%=topCategoryCount[2]%>']
                }
            ]
        },
        options: {
            plugins: {
                legend: {
                    labels: {
                        usePointStyle: true,
                    },
                }
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    })
}

})(jQuery);

            </script>
            </body>
            </html> 