<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets admin/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link href="/assets admin/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="assets admin/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="home">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a style="font-weight: bold;" class="menu-link" href="users_list">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Users</span>
                    </a>

                </li>

                <li class="menu-item">
                    <a class="menu-link" href="categories">
                        <i class="icon material-icons md-comment"></i>
                        <span style="font-weight: bold;" class="text">Categories</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="orders">
                        <i class="icon material-icons md-comment"></i>
                        <span style="font-weight: bold;" class="text">Orders</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="products">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="coupons">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="offer">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">Offer</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/logout">
                        <i class="icon material-icons md-exit_to_app"></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>

            <br />
            <br />
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">

        </header>
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Products list</h2>
                <div>
                    <a href="/admin/add-products" class="btn btn-primary"><i class="material-icons md-plus"></i> Add
                        Product</a>
                </div>
            </div>
            <div class="card mb-4">

                <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>

                                <div class="table-data">
                                    <div class="order">
                                        <% if(products.length> 0) { %>
                                            <div class="table-responsive">
                                                <table id="tablePagination"
                                                    class="table table-bordered table-hover table-striped">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th scope="col">
                                                                <center>Sl.No.</center>
                                                            </th>
                                                            <th scope="col">
                                                                <center>Image</center>
                                                            </th>
                                                            <th scope="col">
                                                                <center>Name</center>
                                                            </th>
                                                            <th scope="col">
                                                                <center>Quantity</center>
                                                            </th>
                                                            <th scope="col">
                                                                <center>Category</center>
                                                            </th>
                                                            <th scope="col">
                                                                <center>Price</center>
                                                            </th>
                                                            <th scope="col">
                                                                <center>Offer</center>
                                                            </th>
                                                            <th scope="col">
                                                                <center>Select</center>
                                                            </th>
                                                            <th scope="col">
                                                                <center>Update</center>
                                                            </th>
                                                            <th scope="col">
                                                                <center>List / Unlist</center>
                                                            </th>
                                                            <th scope="col">
                                                                <center>Action</center>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for (let i=0; i < products.length; i++) { %>
                                                            <tr>
                                                                <td align="center">
                                                                    <%= i + 1 %>
                                                                </td>
                                                                <td align="center">
                                                                    <img width="90px" class="rounded-3 "
                                                                        src="/multerImage/<%=products[i].images[0] %>"
                                                                        style="max-width: 50px; max-height: 50px;"
                                                                        alt="">
                                                                </td>
                                                                <td align="center">
                                                                    <%= products[i].name %>
                                                                </td>
                                                                <td align="center">
                                                                    <%= products[i].quantity %>
                                                                </td>
                                                                <td align="center">
                                                                    <%= products[i].categoryId.name %>
                                                                    <%if(products[i].categoryId.offer ){%>
                                                                        <br>
                                                                        <h7 class="text-success font-xs" style="font-weight:900 ;"><%=products[i].categoryId.offer.name%></h7>
                                                                    <%}%>
                                                                </td>
                                                                <td align="center">
                                                                    ₹<%= products[i].price %>
                                                                </td>
                                                                <%if(products[i].offer ){%>
                                                                    <% if(products[i].offer.expiryDate >= new Date()){ %>
                                                                    <td class="text-success font-xs"
                                                                        style="font-weight:900 ;">
                                                                        <%=products[i].offer.name%>
                                                                    </td>
                                                                <%}else{%>
                                                                    <td class="text-success font-xs"
                                                                    style="font-weight:900 ;">
                                                                    <%=products[i].offer.name%>[<h7 class="text-danger">Expired</h7>]
                                                                </td>
                                                                <%}%>
                                                                    <%}else{%>
                                                                        <td class="text-danger">
                                                                            No Offer Selected
                                                                        </td>
                                                                        <%}%>
                                                                            <%if(products[i].offer ){%>
                                                                                <td align="center">
                                                                                    <button
                                                                                        class="badge badge-primary btn-danger rounded-pill border-0"
                                                                                        onclick="removeOffer('<%=products[i]._id%>')"><a>Remove</a></button>
                                                                                </td>
                                                                                <%}else{%>
                                                                                    <td align="center">
                                                                                        <button
                                                                                            class="badge btn-primary border-0"
                                                                                            style="background-color:#3BB77E ; height: 30px;"
                                                                                            onclick="chooseOffer('<%=products[i]._id%>')"><a>Choose</a></button>
                                                                                    </td>
                                                                                    <%}%>
                                                                                        <td align="center">

                                                                                            <a
                                                                                                href="/admin/editproduct?id=<%= products[i]._id%>">edit</a>
                                                                                        </td>
                                                                                        <td align="center">
                                                                                            <% if
                                                                                                (products[i].is_blocked)
                                                                                                { %>
                                                                                                <a class="unblock-user"
                                                                                                    data-user-id="<%= products[i]._id %>"><span
                                                                                                        class="badge rounded-pill alert-success">unblock</span></a>
                                                                                                <% } else { %>
                                                                                                    <a class="block-user"
                                                                                                        data-user-id="<%= products[i]._id %>"><span
                                                                                                            class="badge rounded-pill alert-warning">block</span></a>
                                                                                                    <% } %>
                                                                                        </td>
                                                                                        <td style="font-weight: bold;">

                                                                                            <button
                                                                                                style="border: none;"
                                                                                                onclick="removeProduct('<%=products[i]._id%>')"
                                                                                                type="submit"><span
                                                                                                    class="text-danger">X</span></button>

                                                                                        </td>
                                                            </tr>

                                                            <% } %>
                                                    </tbody>
                                                </table>

                                            </div>
                                            <% } else { %>
                                                <p>No products found in the database.</p>
                                                <% } %>

                                    </div>
                                </div>
                    </div>


                    <tbody>

                        </thead>
                    <tbody>
                    </tbody>
                    </table>
                    <!-- table-responsive.// -->

                </div>
                <!-- card-body end// -->
            </div>
            <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">

                    <%for (let i = 1; i <= totalPages; i++){%>
                        <% if (i === currentPage){%>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#"><%= i %></a>
                            </li>
                        <% }else{%>
                            <li class="page-item">
                                <a class="page-link" href="/admin/products?page=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>
                    <% } %>
                </ul>

                   
                </nav>
            </div>
        </section>
        <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    &copy; Nest - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">All rights reserved</div>
                </div>
            </div>
        </footer>
    </main>
    <script src="assets admin/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets admin/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets admin/js/vendors/select2.min.js"></script>
    <script src="assets admin/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets admin/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Main Script -->
    <script src="assets admin/js/main.js?v=1.1" type="text/javascript"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.block-user, .unblock-user').forEach(function (Element) {
                console.log("F");
                console.log("kiklaojvnosk")
                Element.addEventListener('click', function (event) {
                    event.preventDefault();
    console.log("hello")
                    const productId = Element.getAttribute('data-user-id');
                    const action = Element.classList.contains('block-user') ? 'block' : 'Unblock';
    console.log(productId,action)
                    fetch(`/admin/blockproduct/${productId}`, {
                        method: 'PATCH',
                    })
                        .then(Response => Response.json())
                        .then(data => {
                            if (data.block == true) {
                                console.log('final');
    
                                Element.querySelector('span').classList.toggle('alert-success');
                                Element.querySelector('span').classList.toggle('alert-warning');
                                Element.querySelector('span').innerText = action === 'block' ? 'unblock' : 'block';
    
                                Element.classList.remove(action === 'block' ? 'block-user' : 'unblock-user');
                                Element.classList.add(action === 'block' ? 'unblock-user' : 'block-user');
                            }
                        })
                        .catch((error) => {
                            console.log(error.message);
                        });
                });
            });
        });
    </script>

    <script>
        var productId;
        async function chooseOffer(val) {
            productId = val
            console.log(productId, ":prdcrinide")
            Swal.fire({
                title: 'Choose Offer',

                showConfirmButton: false,
                html:
                    '<%if(typeof offer!=="undefined"){%>' +
                    '<table class="table table-hover">' +

                    '<thead>' +
                    '           <tr>' +
                    '<th>No.</th>' +
                    '<th>Name</th>' +

                    '<th>Discount</th>' +

                    '<th>StartDate</th>' +
                    '<th>ExpiryDate</th>' +
                    '<th class=""></th>' +
                    '</tr>' +
                    ' </thead>' +
                    '<tbody>' +
                    '<% offer.forEach((val,index)=>{ %>' +
                    '<tr>' +


                    '<td style="font-weight: bold;">' +
                    '<%= index+1 %>' +
                    '</td>' +
                    '<td style="font-weight: bold;">' +
                    '<%= val.name%>' +
                    '</td>' +

                    '<td style="font-weight: bold;">' +
                    '₹ <%=val.discountAmount %>' +
                    '</td>' +
                    '<td style="font-weight: bold;">' +
                    "<%= val.activationDate.toLocaleDateString('en-US', { weekday: 'short' ,year: 'numeric' , month: 'short' , day: 'numeric' }) %>" +
                    '</td>' +
                    ' <td>' +
                    " <%= val.expiryDate.toLocaleDateString('en-US', { weekday: 'short' ,year: 'numeric' , month: 'short' , day: 'numeric' }) %>" +
                    ' </td>' +
                    ' <td><button type="button" onclick = "offerSelect(\'<%=val._id%>\')" class="badge border-0 btn-success" style="background-color:#3BB77E;">Apply</button></td>' +

                    ' </tr>' +
                    '<%})%>' +





                    '  <tbody>' +

                    '  </tbody>' +
                    ' </table>' +

                    '<%}else{%>' +
                    '<h6 class="text-danger">No Offer Found Currently</h6>' +
                    '<%}%>'

            });
        }
        async function offerSelect(val) {
            console.log(val, productId)
            const response = await fetch('/admin/applyOffer', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ val, productId })
            }).then(response => response.json())
                .then(response => {
                    if (response.applied === true) {
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "Offer Applied Successfull",
                            showConfirmButton: false,
                            timer: 2000
                        }).then(() => {
                            location.reload()
                        })
                    } else {
                        Swal.fire({
                            position: "center",
                            icon: "warning",
                            title: "Something went Wrong",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        console.log("else Running")
                    }
                })
        }
    </script>

    <script>
        function removeOffer(val) {
            const productId = val
            console.log(productId)
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    console.log("is confirm")

                    const response = await fetch('/admin/removeOffer', {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ productId })

                    }).then(response => response.json())
                        .then(data => {
                            if (data.remove === true) {
                                Swal.fire({
                                    title: "Deleted!",
                                    text: "Your file has been deleted.",
                                    icon: "success",
                                    timer: 3000
                                })
                                    .then(() => {
                                        location.reload()
                                    })
                            }



                        })



                }
            });
        }
    </script>



    <script>
        function removeProduct(val) {
            const id = val
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    console.log("is confirm")

                    const response = await fetch('/admin/removeProduct', {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ id })

                    }).then(response => response.json())
                        .then(data => {
                            if (data.remove === true) {
                                Swal.fire({
                                    title: "Deleted!",
                                    text: "Your file has been deleted.",
                                    icon: "success",
                                    timer: 3000
                                })
                                    .then(() => {
                                        location.reload()
                                    })
                            }



                        })



                }
            });
        }
    </script>
</body>

</html>