<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/assets admin/imgs/theme/favicon.svg" />
        <!-- Template CSS -->
        <link href="/assets admin/css/main.css" rel="stylesheet" type="text/css" />
    </head>
  

    <body>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="index.html" class="brand-wrap">
                    <img src="/assets admin/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item ">
                        <a class="menu-link" href="home">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item active">
                        <a class="menu-link" href="sales">
                            <i class="icon materi.al-icons md-home"></i>
                            <span class="text">Sales</span>
                        </a>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="users_list">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Users</span>
                        </a>
                        
                    </li>
                  
                    <li class="menu-item">
                        <a class="menu-link" href="categories">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text" >Categories</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="orders">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text" >Orders</span>
                        </a>
                    </li>
                   
                    <li class="menu-item">
                        <a class="menu-link" href="products">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text" >Products</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="coupons">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text" >Coupons</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="offer">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text" >Offer</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/logout">
                            <i class="icon material-icons md-exit_to_app"></i>
                            <span class="text" >Logout</span>
                        </a>
                    </li>
                </ul>
               
                <br />
                <br />
            </nav>
        </aside>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                            <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Products"></option>
                            <option value="New orders"></option>
                            <option value="Apple iphone"></option>
                            <option value="Ahmed Hassan"></option>
                        </datalist>
                    </form>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    
                </div>
            </header>
           
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Sales Report</h2>
                        <p>Whole data about your business here</p>
                    </div>

    
    
                          <a class="btn btn-success" href="#" onclick="downloadPdf('printThisDiv')" style="color: green; font-weight: 600;">Download as PDF</a>
    
    
    
                      </div>
                    <div>
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row align-items-center">
                            <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                                <div class="custom_select">
                                    <select class="form-select select-nice" onchange="filterReport(value)">
                                        <option selected>Select</option>
                                        <option value="weekly">weekly</option>

                                        <option value="monthly">Monthly</option>
                                        <option value="yearly">Yearly</option>
                                        
                                    </select>
                                </div>
                               
                            </div>
                            
                            <div class="col-md-2 col-6">
                                <label for="startFrom">Start</label>
                                <input type="date" value="02.05.2021" class="form-control" id="startFrom" />
                            </div>
                            <div class="col-md-2 col-6">
                                <div class="custom_select">
                                    <label for="endDate">End</label>
                                <input type="date" value="02.05.2021" class="form-control" id="endDate"/>
                                   
                                </div>
                            </div>
                            <div class="col-md-2 col-6">
                                <button class="badge badge-pill badge" style="color: black;" onclick="filterDate()">filter</button>
                               
                              
                            </div>
                            
                        </div>
                        <div class="login-error" id="error-div-date"></div>

                    </header>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive" id="printThisDiv">
                                <table class="table align-middle table-nowrap mb-0">
                                    <thead class="table-light">
                                        <% if(sales&&sales.length != 0){%>

                                        <tr>
                                            <th class="align-middle" scope="col">No.</th>

                                            <th class="align-middle" scope="col">Order ID</th>
                                            <th class="align-middle" scope="col">Billing Name</th>
                                            <th class="align-middle" scope="col">Date</th>
                                            <th class="align-middle" scope="col">Total</th>
                                            <th class="align-middle" scope="col">    Order Status</th>
                                            <th class="align-middle" scope="col">Payment Method</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <%sales.forEach((val,index)=>{%>
                                        <tr>
                                           <td><%=index+1%></td>
                                            <td><a href="#" class="fw-bold">#<%= val._id.toString().slice(-5)%></a></td>
                                            <td><%=val.delivery_address.name%></td>
                                            <td><%=val.orderDate.toLocaleDateString('en-US', {
                                                weekday: 'short', year: 'numeric', month: 'short',
                                                day: 'numeric' })%></td>
                                            <td>₹<%=val.subtotal%></td>
                                            <td align="center">
                                                <span class="badge badge-pill badge-soft-success" >delivered</span>
                                            </td>
                                            <td><i class="material-icons md-payment font-xxl text-muted mr-5"></i> <%=val.payment%></td>
                                           
                                        </tr>
                                        <%})%>
                                        <%}else{%>
                                            <h5 class="text-danger">No Sales </h5>
                                        <%}%>
                                    </tbody>
                                       
                                </table>
                                <div>
                                    <h5 class="text-success">Total Sale: <span class="text" style="color: black;"> <%=sales.length%> </span></h5>

                                    <h5 class="text-success">Total Sale Amount: <span class="text" style="color: black;"> ₹<%=subtotal%> </span></h5>
                                </div>
                            </div>
                        </div>
                        <!-- table-responsive end// -->
                    </div>
                </div>
                <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
              
            </section>
            <!-- content-main end// -->
           
            </main>
            <script src="/assets admin/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/assets admin/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/assets admin/js/vendors/select2.min.js"></script>
        <script src="/assets admin/js/vendors/perfect-scrollbar.js"></script>
        <script src="/assets admin/js/vendors/jquery.fullscreen.min.js"></script>
        <script src="/assets admin/js/vendors/chart.js"></script>
        <!-- Main Script -->
        <script src="/assets admin/js/main.js?v=1.1" type="text/javascript"></script>

        <script>
            function filterReport(val){
                let url = `/admin/filterSales?filter=${val}`
                window.location.href = url
            }
        </script>
        <script>
            function filterDate(){
                const start = document.getElementById('startFrom');
                const end = document.getElementById('endDate')

                const errorDiv = document.getElementById('error-div-date');


errorDiv.textContent = '';

                const startDate = new Date(start.value);
                 const endDate = new Date(end.value);

                 if (isNaN(startDate.getTime()) || isNaN(endDate.getTime())) {
        errorDiv.textContent = 'Invalid date format. Please use YYYY-MM-DD.';
        return;
      }

      if (startDate > endDate) {
        errorDiv.textContent = 'Start date cannot be after end date.';
        return;
      }

      const url = `/admin/filterSales?start=${startDate.toISOString().split('T')[0]}&end=${endDate.toISOString().split('T')[0]}`;
          window.location.href = url
    }
        </script>
        <script>

            function downloadPdf(divName) {
          console.log("reached")
                const printContents = document.getElementById(divName).innerHTML;
          
                const originalContents = document.body.innerHTML;
          
                document.body.innerHTML = printContents;
          
                window.print();
          
                document.body.innerHTML = originalContents;
          
            }
          
           
          
            function downloadExcel(divName) {
          
                const table = document.getElementById(divName);
          
                const rows = table.getElementsByTagName('tr');
          
                let csvContent = "data:text/csv;charset=utf-8,";
          
           
          
                for (const row of rows) {
          
                    const cells = row.getElementsByTagName('td');
          
                    const cellValues = [];
          
                    for (const cell of cells) {
          
                        cellValues.push(cell.textContent);
          
                    }
          
                    csvContent += cellValues.join(',') + '\n';
          
                }
          
           
          
                const encodedUri = encodeURI(csvContent);
          
                const link = document.createElement('a');
          
                link.setAttribute('href', encodedUri);
          
                link.setAttribute('download', 'data.csv');
          
                document.body.appendChild(link);
          
           
          
                link.click();
          
                document.body.removeChild(link);
          
            }
          
            </script>
     
            </body>
            </html> 